@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
ul li{
    padding: 0 12px;
}
ul li a{
    font-weight: 500 !important;
    color: inherit !important;
}
.card-testimonial {
    margin: 20px 0;
}
.navbar .dark small{
    font-size: 11px;
    font-weight: 600;
}
.navbar .dark{
    margin-left: 20px;
    text-align: center;
}
.darkmode {
    color: #fff !important;
    background-color: #1c2027 !important;
 }
.darkmode i:hover{
    cursor: pointer;
}
.card-special{
    padding: 25px 15px;
    border-radius: 20px;
}
.card-special:hover{
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.125);
}
.card-populer {
    margin: 20px 0;
}
.section-populer .overlay{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    opacity: 0;
}
.section-populer .bg-top .rating{
    z-index: 9999;
} 
.section-populer .card-populer:hover .overlay{
    opacity: 1;
    transition: all.7s ease;
}
footer ul li{
    list-style: none;
    margin-left: -45px;
    padding-bottom: 15px;
}
footer ul li a{
    text-decoration: none;
    color: inherit;
}
footer h6{
    padding-bottom: 8px;
    font-weight: 700;
}

/* // Small devices (landscape phones, 300px and up) */
@media (min-width: 300px) { 
    .section-banner .text-content h1{
        font-size: 40px;
    }
    .section-banner .text-content p{
        font-size: 11px;
    }
    .section-banner .text-content .btn{
        margin-left: 0px;
        margin: 10px 5px;
    }
    .section-banner .img-content img{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 90px;
    }
    .section-banner .text-content{
        text-align: center;
    }
    .navbar .cart{
        margin-top: 20px;
    }
    .navbar .cart a{
        margin-top: 15px;
        margin-left: 15px;
    }
    .navbar button{
        display: block;
    }
    .section-content .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-content .text-content h2{
        font-size: 30px;
    }
    .section-content .text-content p{
        font-size: 11px;
        padding: 20px 0;
    }
    .section-content .text-content{
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }
    .section-chef .img-content img{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }
    .section-join input{
        padding: 10px 80px 10px 10px;
    }
    .section-join input{
        margin: 30px 0;
    }
 }
/* // Small devices (landscape phones, 400px and up) */
@media (min-width: 400px) { 
    .section-banner .text-content h1{
        font-size: 47px;
    }
    .section-banner .text-content p{
        font-size: 13px;
    }
    .section-banner .text-content .btn{
        margin-left: 0px;
        margin: 10px 5px;
    }
    .section-banner .img-content img{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 90px;
    }
    .section-banner .text-content{
        text-align: center;
    }
    .navbar .cart{
        margin-top: 20px;
    }
    .navbar .cart a{
        margin-top: 15px;
        margin-left: 15px;
    }
    .navbar button{
        display: block;
    }
    .section-content .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-content .text-content h2{
        font-size: 35px;
    }
    .section-content .text-content p{
        font-size: 13px;
        padding: 20px 0;
    }
    .section-content .text-content{
        margin-top: 26px;
        margin-left: 0px;
        text-align: center;
    }
    .section-chef .img-content img{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }
    .section-join input{
        padding: 10px 50px 10px 10px;
    }
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .section-banner .text-content h1{
        font-size: 47px;
    }
    .section-banner .img-content img{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 90px;
    }
    .section-banner .text-content .btn{
        margin-left: 0px;
        margin: 10px 5px;
    }
    .section-banner .text-content{
        text-align: center;
    }
    .navbar .cart{
        margin-top: 20px;
    }
    .navbar .cart a{
        margin-top: 15px;
        margin-left: 15px;
    }
    .navbar button{
        display: block;
    }
    .section-content .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-content .text-content h2{
        font-size: 35px;
    }
    .section-content .text-content p{
        font-size: 15px;
        padding: 20px 0;
    }
    .section-content .text-content{
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }
    .section-chef .img-content img{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }
    .section-join input{
        padding: 10px 200px 10px 10px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .section-banner .text-content h1{
        font-size: 47px;
    }
    .section-banner .img-content img{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 90px;
    }
    .section-banner .text-content .btn{
        margin-left: 0px;
        margin: 10px 5px;
    }
    .section-banner .text-content{
        text-align: center;
    }
    .navbar .cart{
        margin-top: 20px;
    }
    .navbar .cart a{
        margin-top: 15px;
        margin-left: 15px;
    }
    .navbar button{
        display: block;
    }
    .section-content .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-content .text-content h2{
        font-size: 35px;
    }
    .section-content .text-content p{
        font-size: 15px;
        padding: 20px 0;
    }
    .section-content .text-content{
        margin-top: 30px;
        margin-left: 0px;
        text-align: center;
    }
    .section-chef .img-content img{
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }
    .section-join input{
        padding: 10px 200px 10px 10px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .section-banner .text-content h1{
        font-size: 47px;
    }
    .section-banner .img-content img{
        width: 130%;
        height: 130%;
        margin-left: -150px;
        margin-top: 0;
    }
    .section-banner .text-content .btn{
        margin-right: 15px;
        
    }
    .section-banner .text-content{
        text-align: left;
    }
    .navbar button{
        display: none;
    }
    .navbar .cart{
        margin-top: 0px;
    }
    .navbar .cart a{
        margin-top: 0px;
        margin-left: 0px;
    }
    .section-content .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-content .text-content h2{
        font-size: 35px;
    }
    .section-content .text-content p{
        font-size: 15px;
        padding: 20px 0;
    }
    .section-content .text-content{
        margin-top: 30px;
        margin-left: 20px;
        text-align: left;
    }
    .section-chef .img-content img{
        width: 100%;
        height: 100%;
        margin-top: -70px;
        margin-left: -100px;
    }
    .section-join input{
        padding: 10px 200px 10px 10px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .section-banner .text-content h1{
        font-size: 47px;
    }
    .section-banner .img-content img{
        width: 125%;
        height: 125%;
        margin-left: -180px;
        margin-top: 0;
    }
    .section-banner .text-content .btn{
        margin-right: 15px;
        
    }
    .section-banner .text-content{
        text-align: left;
    }
    .navbar button{
        display: none;
    }
    .navbar button{
        display: none;
    }
    .navbar .cart{
        margin-top: 0px;
    }
    .navbar .cart a{
        margin-top: 0px;
        margin-left: 0px;
    }
    .section-content .img-content img{
        width: 100%;
        height: 100%;
    }
    .section-content .text-content h2{
        font-size: 35px;
    }
    .section-content .text-content p{
        font-size: 15px;
        padding: 20px 0;
    }
    .section-content .text-content{
        margin-top: 70px;
        margin-left: 20px;
        text-align: left;
    }
    .section-chef .img-content img{
        width: 90%;
        height: 90%;
        margin-top: -100px;
        margin-left: -170px;
    }
    .section-join input{
        padding: 10px 200px 10px 10px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }